body {
  margin: 0;
  background-color: #f4f0e7;
  font-family: Arial, sans-serif;
}

.carousel-container {
  max-width: 800px;
  height: 500px; /* fixed height */
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  background: #f4f0e7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

.carousel {
  display: flex;
  height: 100%;
  width: 500%; /* 5 screens side by side */
  transition: transform 0.5s ease-in-out;
}

.screen {
  flex: 0 0 20%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen:first-child {
  display: flex;
  gap: 5%;
}

.screen:first-child .left {
  flex: 0 0 40%;
  height: 100%;
}

.screen:first-child .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.screen:first-child .right {
  flex: 0 0 60%;
  color: #ff5c00;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.screen:first-child .right p {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
}
